.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} 
:root{
    --text: 1.5rem;
    --head:calc(3rem + 5vw);
    --bg-color:orangered;
}
body{
    font-family: font-family:'Poppins', sans-serif;
}
.hero-section{
 min-height: 120vh;
background: url(https://images.unsplash.com/photo-1521017432531-fbd92d768814?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80); 
background-size: cover;
background-position: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0rem 1.5rem;
    color: white;

}
.navbar ul{
    list-style: none;
}
.navbar ul li{
    display: inline-block;
    margin-left: 3rem;
    font-size: var(--text);
}
.navbar ul li a {
    text-decoration: none;
    color: white;
}
.hero-text{
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hero-text a{
    color: white;
    background:var(--bg-color);
font-weight: 900;
padding: .08rem 1rem;
}
.hero-text h1{
    font-size: var(--head);
}
.hero-text p{
    font-size: 1.5rem;
}





s